<nav class="nav">
    <div class="logo">
        <h1>thedevbk</h1>
    </div>
    <div class="menu-items ">
        <ul class="nav-items">
            <li>
                <a href="http://localhost:58035/webapp/index.html?hc_reset&origional-url=index.html&sap-ui-appCacheBuster=..%2F&sap-ui-xx-componentPreload=off">About</a>
            </li>
            <li>
                <a href="#">Career</a>
            </li>
            <li>
                <a href="#">projects</a>
            </li>
            <li>
                <a href="#">Tech stack</a>
            </li>
            <li>
                <a href="#">Workspace</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>
</nav>