<div class="main-container">
    <div class="main-item-1">
        <div class="icon-linkedin sml"><i class="fa-brands fa-linkedin fa-2x"></i></div>
        <div class="icon-github smg"><i class="fa-brands fa-github fa-2x"></i></div>
        <div class="icon-twitter smt"><i class="fa-brands fa-twitter fa-2x"></i></div>
        <div class="icon-insta smi"><i class="fa-brands fa-instagram fa-2x"></i></div>
    </div>
    <div class="main-item-2">
        <div class="comp-1">
            <div class="profilepic">
            </div>
            <div class="biocontent"></div>
        </div>
        <div class="comp-2"></div>
        <div class="comp-3"></div>
        <div class="comp-4"></div>
    </div>
</div>